%section.mod-intro
  .layout-wrap
    .heading
      %h1
        Mobile Applications Consulting Services
      %ul.os
        %li.android Android
        %li.ios iOS
      .contact
        = link_to 'Enquire Now', '#', :class => 'enquire'
        %span or
        = link_to '#', :class => 'call' do
          = image_tag 'i_phone_white.png'
          1300 792 720


  .illustration
    = image_tag 'illustration.png'

  .layout-wrap{:style => 'margin-top: -200px'}
    %section.mod-why_us
      %h1 Why us?
      %ul
        %li
          %h2.mobile Multi Platform Specialists
          We specialise in building for both ios and android platforms simultaneously saving time and money.
        %li
          %h2.people Experienced Team
          We've developed 5 apps as a team and have combined web/mobile production experience of over 25 years.
        %li
          %h2.experience More than Just Developers
          Our experience comprises everything it takes to bring an app to market so we can provide valuable marketing and ASO advice and insight
        -#%li
        -#  %h2.drawer Proin Fermentum est sed
        -#  Mauris sed elit in nunc vulputate porta nec vel nunc. Nam hendrerit elt leo vitae dui rhoncus adipiscing lorem ipsum dolor sit amet.
        -#%li
        -#  %h2.suitcase Suspendisse Accumsan
        -#  Quisque sollicitudin purus at augue hendrerit non elementum ipsum auctor. In dignissim urna et odio dunt aliquet.
        -#%li
        -#  %h2.bucket Aliquam dolor eu mi
        -#  We've developed 5 apps as a team and have combined web/mobile production experience of over 25 years.
        -#%li
        -#  %h2.graph Mauris ac adipiscing eros
        -#  Our experience comprises everything it takes to bring an app to market so we can provide valuable marketing and ASO advice and insight
        -#%li
        -#  %h2.globe Fames ac turpis egestas
        -#  Mauris sed elit in nunc vulputate porta nec vel nunc. Nam hendrerit elt leo vitae dui rhoncus adipiscing lorem ipsum dolor sit amet.

%section.mod-steps
  .layout-wrap
    %h1
      %span.hide Our Process
    %ol
      %li.contact
        %h2 1. You get in Contact
        %div You make initial contact by sending us an email or Calling our Customer Service Team.
      %li.consultation
        %h2 2. Consultation/Workshop
        %div We conduct a 1 hour Initial Consultation, which will detail every important project feature.
      %li.return
        %h2 3. Ball park estimate and approach selection
        %div You will receive an indicative estimate of time and cost. Then, you choose the approach that suits you best.

%section.mod-approaches
  .layout-wrap
    %h1
      Our 2 Approaches

    .image
      = image_tag 'approaches.png'

    %div
      .approach
        %h2
          %span.second Approach
          \#1 - Fixed
          %span.first Price

        %p.blurb
          Scoping exercise, the exact cost of which depends on the outcome of the initial consultation. The output of the scoping phase is: -
          %b Wireframes for Every Screen
          descriptions of functions and
          %b Business Rules Captured as User Stories
          %span>.

        %h3.star Features
        %ul.features
          %li Fixed Price Quote
          %li Agreement to Proceed
          %li Deposit of 25%
          %li Complete Graphic Design
          %li Development and Test - weekly progress meetings and "showcase" of app to date
          %li Progress Payments at 25%, 50% and 75%
          %li Development Completion
          %li Final Testing and Acceptance
          %li Final Payment of balance
          %li Submission to App Store (publishing arrangements TBD)

        %h3.up Advantages
        %ul.advantages
          %li Cost Certainty

        %h3.down Disadvantages
        %ul.disadvantages
          %li More Expensive
          %li Changes to scope or time are difficult and expensive
          %li Limited Flexibility to launch earlier or reduce features
          %li Larger Cost Commitment

      .approach
        %h2
          %span.second Approach
          \#2 - Agile
          %span.first Time & Materials

        %p.blurb
          Devise Team make-up and consequent weekly cost of team.

        %h3.star Features
        %ul.features
          %li Agreement to proceed
          %li Deposit equivalent to cost of 2 weeks
          %li
            Scoping workshop. The output of the scoping phase is:
            %ul
              %li wireframes for most important screens
              %li high level descriptions of functions and business rules captured as "epic" User Stories
          %li Initial graphic design - the main screen and one or two typical screens to establish the overall look and feel
          %li
            Weekly cycles of:
            %ul
              %li Feature Planning
              %li Development & Test
              %li Review and Capture refinements/changes.
          %li Fortnightly payments in arrears on 7 day terms
          %li Submission to app store (publishing arrangements TBD) at the conclusion of any weekly cycle

        %h3.up Advantages
        %ul.advantages
          %li Less Expensive
          %li More Control over the features and priorities on a weekly basis
          %li Ability to launch at any time
          %li Changes are easy and inexpensive
          %li Smaller Cost Commitment

        %h3.down Disadvantages
        %ul.disadvantages
          %li No Cost Certainty
          %li Higher Risk of "feature bloat"

%section.mod-testimonials
  .layout-wrap
    .quote
      %h1 What the Critics Say
      %ul
        %li
          %blockquote
            %h2 "An impressive education app!"
            Mandarin Madness (by Native Tongue) is an impressive education app that introduces 240+ Chinese words throughout 41 levels and 3 stages of arcade gaming fun, providing a very memorable learning experience.
            %footer - Crazy Mikes, crazymikesapps.com

    .quote
      %h1 What our users say
      %ul
        %li
          %blockquote
            %h2 "It's like eating broccoli that tastes like cookies"
            I love your app "mandarin madness". The engagement is amazing, the aesthetics (music/illustration) are incredible.
            %footer - Bruce Flaherty, Minnesota
