!!! 5
!= cc_html(lang: 'en') do
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title Native Tongue
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'http://use.typekit.net/xnu0xvp.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag 'application'

  %body
    %header.mod-header#mod-header.layout-wrap
      %h1.logo= link_to 'Native Tongue', '/'

      %nav
        %ul
          %li= link_to 'Home', '/', :class => 'home'
          -#%li= link_to 'About Us', '#'
          -#%li= link_to 'Our Blog', '#'
          %li= link_to 'Need an App?', consulting_path
          -#%li= link_to 'Schools', '#'
          -#%li= link_to 'Press', '#'
          -#%li= link_to 'LP Strategy', '#'
          -#%li= link_to 'Contact', '#'
          %li.twitter= link_to 'Follow Us', 'https://twitter.com/nativetonguelab', :class => 'button twitter', id: 'custom-twitter-button'
          %li.facebook= link_to 'Like Us', 'http://www.facebook.com/nativetonguelab', :class => 'button facebook'
      .actual-twitter_button
        = link_to 'Follow Us', 'https://twitter.com/nativetonguelab', :class => 'twitter-follow-button', "data-show-count"=>"false", "data-lang"=>"en", id: 'actual-twitter-button'


    = yield

    %footer.mod-footer
      %h1 About Native Tongue
      .inner
        .layout-wrap
          .social
            %span.corner
            -#.facebook
            -#  %h2 <b>Native Tongue</b> on Facebook
            -#  .fb-like-box{"data-href"=>"http://www.facebook.com/nativetonguelab", "data-width"=>"292", "data-show-faces"=>"true", "data-stream"=>"true", "data-header"=>"true"}}

            .twitter
              %h2 Latest
              = link_to 'Tweets by @nativetonguelab', "https://twitter.com/nativetonguelab", class:"twitter-timeline", "data-widget-id" => "313188421508153344"
              :javascript
                !function(d,s,id){
                  var js,fjs=d.getElementsByTagName(s)[0];
                  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
                  js.src="//platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js,fjs);}
                }(document,"script","twitter-wjs");

              -#%ul
              -#  %li 15 minutes ago - <a href="#">@lorem1973</a> Class aptent taciti sociosqu ad litora torquent per conubia nostra. <a href="#">#nativetongue2013</a>
              -#%span.prev previous
              -#= link_to 'next', '#', :class => 'next'

          .blog
            %h2 Latest Blog Posts
            %ul
              %li
                Our blog will be back soon...
              -#%li= link_to 'Language stories #1 – The Beijing Diaries', '#'
              -#%li= link_to 'Winners for the Spanish Is Your Amigo Promotion!', '#'
              -#%li= link_to 'Marketing For Mobile Apps – Tips And Tricks', '#'
              -#%li= link_to 'What are some Letterpress games won in very few turns?', '#'
              -#%li= link_to 'Win a Spanish lesson and textbook from Spanish Is Your Amigo', '#'

          .products
            %h2 Our Products
            %ul
              %li= link_to 'English Eruption', 'http://www.englisheruption.com'
              %li= link_to 'Mandarin Madness', 'http://www.mandarinmadness.com'
              %li= link_to 'Spanish Smash', 'http://www.spanishsmash.com'

          .contact
            %h2 Contact Us
            %address
              173 City Road, Melbourne, Australia
              %br
              %span.logo= link_to 'hello@nativetongue.com', 'mailto:info@nativetongue.com'

      .links.layout-wrap
        %p © 2011-2013 NativeTongue.com - All rights Reserved
        %ul
          %li= link_to 'Terms & Conditions', '#'
          %li= link_to 'Privacy Policy', '#'

    = javascript_include_tag 'application'
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=168575276558048";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    :javascript
      window.$zopim||(function(d,s){
        var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//cdn.zopim.com/?140dc7y8i4YFonj7y7OgNkySshhlXa2U';
        z.t=+new Date;
        $.type='text/javascript';e.parentNode.insertBefore($,e)
      })(document,'script');