!!! 5
!= cc_html(lang: 'en') do
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title Native Tongue
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'http://use.typekit.net/wpn6xkp.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag 'application'

  %body
    %header.mod-header#mod-header.layout-wrap
      %h1.logo= link_to 'Native Tongue', '/'

      %nav
        %ul
          %li= link_to 'Home', '#', :class => 'home'
          -#%li= link_to 'About Us', '#'
          -#%li= link_to 'Our Blog', '#'
          %li= link_to 'Need an App?', '#'
          -#%li= link_to 'Schools', '#'
          -#%li= link_to 'Press', '#'
          %li= link_to 'LP Strategy', '#'
          -#%li= link_to 'Contact', '#'
          %li.twitter= link_to 'Follow Us', '#', :class => 'button twitter'
          %li.facebook= link_to 'Like Us', '#', :class => 'button facebook'

    = yield

    %footer.mod-footer
      %h1 About Native Tongue
      .inner
        .layout-wrap
          .social
            %span.corner
            .facebook
              %h2 <b>Native Tongue</b> on Facebook
              [insert Facebook code]

            .twitter
              %h2 Latest <b>Tweets</b>
              %ul
                %li 15 minutes ago - <a href="#">@lorem1973</a> Class aptent taciti sociosqu ad litora torquent per conubia nostra. <a href="#">#nativetongue2013</a>
              %span.prev previous
              = link_to 'next', '#', :class => 'next'

          .blog
            %h2 Latest Blog Posts
            %ul
              %li= link_to 'Language stories #1 – The Beijing Diaries', '#'
              %li= link_to 'Winners for the Spanish Is Your Amigo Promotion!', '#'
              %li= link_to 'Marketing For Mobile Apps – Tips And Tricks', '#'
              %li= link_to 'What are some Letterpress games won in very few turns?', '#'
              %li= link_to 'Win a Spanish lesson and textbook from Spanish Is Your Amigo', '#'

          .products
            %h2 Our Products
            %ul
              %li= link_to 'English Eruption', '#'
              %li= link_to 'Mandarin Madness', '#'
              %li= link_to 'Spanish Smash', '#'

          .contact
            %h2 Contact Us
            %address
              173 City Road, Melbourne, Australia
              %br
              %span.logo= link_to 'hello@nativetongue.com', 'mailto:info@nativetongue.com'

      .links.layout-wrap
        %p © 2011-2013 NativeTongue.com - All rights Reserved
        %ul
          %li= link_to 'Terms & Conditions', '#'
          %li= link_to 'Privacy Policy', '#'

    = javascript_include_tag 'application'
